<h2>Welcome</h2>

<p>Hey, it's Votum. Thanks for signing up! Add us to your contacts so you recognize us when we send you a bill to vote on. P.S. if you want to stop receiving messages just text STOP.
