 <h3>Send a bill to all users</h3>

    <%= form_tag('send_sms_all', method: 'POST') do %>
    <input type="text" placeholder="enter message here" name="message">
    <button type="submit">Submit</button>
    <% end %>