

<div class="row">

<div class="col-md-12 img-center">
<!--<%= render 'layouts/header' %> -->
<%= link_to image_tag("votum-logo.jpg", width: '170'), '/' %>
</div>

<div class="col-md-12 welcome">
<h4 class="lead">We'll text you from (914) 368-6886 confirming your sign up. <br/>
Don't forget to save this number in your phone! </h4>
</div>

<div class="col-md-12 welcome">

<p>
<em>Can't wait until you get your first text?</em>
Email <a href="mailto:hey@getvotum.com">hey@getvotum.com</a> and let us know <br/> what issues are most important to you.  
</p>

<p><em>You can also find us on </em>
	<a href="http://www.instagram.com/heyvotum">Instagram</a> &bull; <a href="https://www.facebook.com/heyvotum">Facebook</a> &bull; <a href="https://twitter.com/heyvotum">Twitter</a></p>

</div>

</div>