// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//mobile styles

@media (max-width: 767px) {

	/*home*/
    .cellphone, .logo-lrg {display:none;}
    .lead-block {margin-top: 35px !important;}
    .questions .form_personal input#user_city, .questions .form_personal .city_label {
    width:45% !important;}

    .textbubbles {margin-top:95px; height: 400px; border-top: 1px solid #f1f1f1;
    padding-top: 50px;}
    .textbubbles h6 { font-size: .95em; font-family: helvetica neue, helvetica, arial, san-serif; font-weight:800; letter-spacing:.5px; position:absolute;}
    .textbubbles img {width: 90%; position:absolute; margin-top:55px; 
    display: block;}
    .textbubbles em {
    display: block; position: absolute;
    margin-top: 20px;
    font-size: 11px;}

    .lead { font-size: 1.6rem !important;}

    .form_personal.current {margin-bottom: 40px !important;}


    /*welcome*/
	.img-center img {display:inline !important; margin: 0px !important;}

	.welcome { text-align:left !important;}

	.welcome h4 {margin-top: 20px; line-height: 1.5em;
	    margin-bottom: 40px !important;
	}

	.welcome p {margin-bottom: 20px !important;}



}

@media (min-width: 768px) {
	.textbubbles {display:none;}
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {color: red !important;}

// main container

html, body {font-family: "lato", helvetica neue, helvetica, san-serif !important;}
.container {margin-top:35px;}

footer {text-align:center; font-size: 11px;
    padding: 20px;}

//alert styles
.alert {
	padding: 10px;
	margin-top:20px;
	font-size: 11px;
    letter-spacing: .5px;
}

.alert ul li {
	list-style:none;
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

.close {
    line-height: .5 !important;
}

//user session

ul.user_session li{
	float: right;
    display: inline;
    margin: 10px;
    font-size: 12px;
    letter-spacing: .5px;
}

// paragraph

.lead-block {
	margin-top: 90px;
}

.lead { margin-top: 20px;}

.extra {
	margin: 10px 0;
    font-size: 14px;
}

//Form styles

.simform {
	position: relative;
	margin: 0 auto;
	padding: 0;
	max-width: 860px;
	width: 100%;
	text-align: left;
	font-size: 1em;
}

.lead-block em {
    margin-top: 15px;
    font-size: 11px;
}

.simform .submit {
	display: none;
}


/* Question list style */
.simform ol {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	-webkit-transition: height 0.4s;
	transition: height 0.4s;
	display: block;
    list-style-type: decimal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.simform ol:before {
	content: '';
	background:none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.35em;
}

.questions li {
	z-index: 100;
	position: relative;
	visibility: hidden;
	height: 0;
	-webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
	transition: visibility 0s 0.4s, height 0s 0.4s;
	background: #fff;
}

.questions li.current,
.no-js .questions li {
	visibility: visible;
	height: auto;
	-webkit-transition: none;
	transition: none;
}


li.form_personal.current { min-height: 350px;}

li.form_email {z-index: 1000;}

/* Labels */

.questions label,  {
	margin: 25px 0 0 0;
}
.questions li > span {
	display: block;
	overflow: hidden;
	margin-bottom: 5px;
}

.questions li > span label {
	display: block;
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.questions li.current > span label,
.no-js .questions li > span label {
	-webkit-transition: none;
	transition: none;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.show-next .questions li.current > span label {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

@-webkit-keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); }
	to { -webkit-transform: translateY(0); }
}

@keyframes moveUpFromDown {
	from { -webkit-transform: translateY(100%); transform: translateY(100%); }
	to { -webkit-transform: translateY(0); transform: translateY(0); }
}

.form_personal label, .email label {
	    float: left;
    width: 50%;
    display: inline;
}

.form_personal span,  .email label span {
	clear:both;
}

/* Input field */
.questions input {
	display: block;
	margin: 0;
	padding: 0.5em 1em 0.5em 0.7em;
	width: calc(100% - 2em);
	border: none;
	background: transparent;
	color: rgba(0,0,0,0.8);
	font-size: 1em;
	line-height: 1;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	border-bottom: 1px solid #f1f1f1;
}

.questions .current input,
.no-js .questions input {
	opacity: 1;
}

.questions input:focus,
.simform button:focus {
	outline: none;
}

.questions .form_personal input {
	width: 47%;
    float: left;
    display: inline;
}

.questions input#user_phone {border:none; height: 34px;
    margin-top: 10px;}

.questions .form_personal input#user_first { margin-right: 18px;}

.questions .form_personal input#user_address{ width:100%; margin-right:0px;}

.questions .form_personal input#user_city, .questions .form_personal .city_label { width:47%; margin-right:18px;}
.questions .form_personal input#user_state, .questions .form_personal .state_label{ width:15%;margin-right:18px;}
.questions .form_personal input#user_zip, .questions .form_personal .zip_label{ width:28%;}

.questions input#user_email, .questions .field_with_errors  { width: 83%; margin: 0; display: inline; border-bottom: 0;}

.questions input#user_email {padding:0;}

.questions input.btn {    
width: 15%;
    font-size: 14px;
    margin: 0;
    display: inline;
    border-bottom: none;
    padding: 15px 0px 17px 0;
    z-index: 200;
    background: white;
    font-weight: 500;
    color: #4CD964;
    }

/* Next question button */
.next {
	position: absolute;
	right: 0;
	bottom: 3px;
	display: block;
	padding: 0;
	width: 3em;
	height: 3em;
	border: none;
	text-align: center;
	z-index: 100;
	cursor: pointer;
	background:none;
	opacity: .99;
	
}

.next img {
	width: 50%;
}

.next:hover {
	opacity: .5;
}



.next.show {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	pointer-events: auto;
}

/* Progress bar */
.simform .progress {
	width: 0%;
	height: 0.15em;
	background: rgba(0,0,0,0.3);
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.simform .progress::before {
	position: absolute;
	top: auto;
	width: 100%;
	height: inherit;
	background: rgba(0,0,0,0.05);
	content: '';
	left: 0;
}

/* Number indicator */
.simform .number {
	position: absolute;
	right: 0;
	overflow: hidden;
	margin: 0.4em 0;
	width: 3em;
	font-weight: 700;
	font-size: 0.5em;
}

.simform .number:after {
	position: absolute;
	left: 50%;
	content: '/';
	opacity: 0.4;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.simform .number span {
	float: right;
	width: 40%;
	text-align: center;
}

.simform .number .number-current {
	float: left;
}

.simform .number-next {
	position: absolute;
	left: 0;
}

.simform.show-next .number-current {
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.simform.show-next .number-next {
	-webkit-animation: moveUpFromDown 0.4s both;
	animation: moveUpFromDown 0.4s both;
}

/* Error and final message */
.simform .error-message,
.simform .final-message {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.simform .error-message {
	padding: 0.4em 3.5em 0 0;
	width: 100%;
	color: rgba(0,0,0,0.7);
	font-style: italic;
	font-size: 0.5em;
}

.final-message {
	top: 50%;
	left: 0;
	padding: 0.5em;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.error-message.show,
.final-message.show {
	visibility: visible;
	opacity: 1;
}

.final-message.show {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

/* Final hiding of form / showing message */
.simform-inner.hide {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

/* No JS Fallback */
.no-js .simform {
	font-size: 1.75em;
}

.no-js .questions li {
	padding: 0 0 2em;
}

.no-js .simform .submit {
	display: block;
	float: right;
	padding: 10px 20px;
	border: none;
	background: rgba(0,0,0,0.3);
	color: rgba(0,0,0,0.4);
}

.no-js .simform .controls {
	display: none;
}

/* Remove IE clear cross */
input[type=text]::-ms-clear {
    display: none;
}

/* Adjust form for smaller screens */
@media screen and (max-width: 44.75em) {
	.simform {
		font-size: 1.8em;
	}
}

@media screen and (max-width: 33.5625em) {
	.simform {
		font-size: 1.2em;
	}
}


/* Welcome */

.img-center img {display:block; margin:0 auto; margin-top: 60px;}

.welcome { text-align:center;}

.welcome h4 {margin-top: 20px;     line-height: 1.5em;
    margin-bottom: 60px;
}

.welcome em {     display: block;
    font-size: 14px;
    padding-bottom: 2px;
    font-weight: bold;
}

.welcome p {margin-bottom: 40px; line-height: 1.65em;}

